@page "/websites"

@inherits ComponentBase
<MudStack Class="mb-3" Row="true" Justify="Justify.SpaceBetween">
    <MudText Color="Color.Primary" Class="my-auto" Typo="Typo.h4">Websites</MudText>
    <MudButton OnClick="GoToAddWebsite">Add</MudButton>
    

</MudStack>
<MudDivider Class="mb-4"/>
<MudTable Height="calc(100vh - 240px)" FixedHeader="true" Items="@_model.TableDatas" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_isLoading" LoadingProgressColor="Color.Info">
    <NoRecordsContent>
        Please add a website
    </NoRecordsContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortBy="new Func<TableData, object>(x=>x.Name)">Website</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TableData, object>(x=>x.Name)">Pages</MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortBy="new Func<TableData, object>(x=>x.LastRun)">Last run</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="WebsiteCoreModelDataModel">@context.Name</MudTd>
        <MudTd DataLabel="foundUrlDataModels">@context.UrlsFound</MudTd>
        <MudTd DataLabel="Last run">
            @if (context.LastRun != null)
            {
                @context.LastRun.Value.ToLocalTime()
            }
            else
            {
                <span>Hasn't runned yet</span>
            }
        </MudTd>
        <MudTd DataLabel="running">
            @if (context.ProgressReport is not null)
            {
                <MudStack Row="true" Justify="Justify.FlexEnd" AlignItems="AlignItems.Center">
                    <MudProgressCircular Size="Size.Small" Indeterminate="true"></MudProgressCircular>
                    <MudText Class="my-auto" Inline="true" >Running report.. @context.ProgressReport.Done/@context.ProgressReport.Total</MudText>
                </MudStack>
            }
            else
            {
                <MudStack Row="true" Justify="Justify.FlexEnd" AlignItems="AlignItems.Center">
                    <MudButton OnClick="() => RunReport(context.Id)">Run Report</MudButton>
                    <MudButton OnClick="()=> ArchiveWebsite(context.Id)">Delete</MudButton>
                </MudStack>
            }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
</MudTable>